.DS_Store
aclocal.m4
autom4te.cache
configure
config.log
config.status
Makefile
Makefile.in
*.zip
*.tar.gz
*.nsi
*.aux
*.log
*.out
*.pdf
*.toc
*.pyc
*~

build/Common.nsh

*.tex
!doc/Introduction.tex

src/MTBindingSim
src/MTBindingSim.exe
src/MTBindingSim.app
src/MTBindingSim.prg
src/mtbindingsim-*-bin*
src/*.c
src/*.txt
src/*.sh
src/*.log

tools/ResHacker.ini
tools/ResHacker.log
